@import "./variables";

* {
  box-sizing: border-box;
}

.btn {
  border: none;
  padding: 10px 25px;
  cursor: pointer;
}

.demo {
  background-color: $color-accent2-light;
  color: $color-night-gray1;
  font-size: 25px;
}

label,
h1 {
  color: $color-sky-gray10;
}

.blur {
  transition: filter 0.5s;
  filter: blur(5px);
}
